<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1" />
	<title>Scarpa| SG-store</title>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap">
    	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">	
    	<link rel="stylesheet" th:href="@{/css/css-general.css}">	
</head>

<body>
	<header th:replace="fragments/intestazione-general.html :: intestazione"></header>
	<div th:replace="fragments/intestazione-general.html :: sfondo3"></div>
	<div id="schedaChef">
		<div class="credenziali">
			<h1 th:text="${scarpa.nome}">Nome Scarpa</h1>
			<div class="descrizione">
				<h3> Descrizione:</h3>
				<p th:text="${scarpa.descrizione}"> Descrizione </p>
			</div>
			<div class="descrizione">
				<h3> Colore:</h3>
				<p th:text="${scarpa.colore}"> Colore </p>
			</div>
			<div class="descrizione">
				<h3> Taglia:</h3>
				<p th:text="${scarpa.taglia}"> Taglia </p>
			</div>
			<div class="descrizione">
				<h3> Brand:</h3>
				<a class="linkdiverso" th:text="${scarpa.brand.nome}" th:href="@{'/brand'+'/'+${scarpa.brand.id}}">Nome</a>
			</div>
		</div>
		<img th:attr="src=@{'/images/' + ${scarpa.nome} + '.jpg'},title=${scarpa.nome},alt=${scarpa.nome}" class="fotoChef">
	</div>
</body>
</html>